/* Add fonts start */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Add fonts end */
/* Reset default style start */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    /* Отступы будут отсчитываться внутрь блока а не наружу, чтобы размеры блока совпадали */
}

*,
*::before,
*::after {
    /* Отступы будут наследоваться от родительского для всех элементов и псевдоэлементов */
    box-sizing: inherit;
}

/* Reset default style end */

body {
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/* Header start */

.header {
    background-color: black;
    position: fixed; /* зафиксируем меню в верхней части страницы */
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap; /* перенос контента на сл. стр, если элементы не вмещаются на одной строке */
    align-items: flex-end; /* вертикальное выравнивание */
    justify-content: space-between; /* расположим контент по краям блока */
    padding-top: 56px; /* отступ сверху */
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px; /* добавим отступы между элементами меню */
}

.header__item:last-child { /* возьмем последний дочерний элемент списка */
    margin-right: 0; /* уберем у него отступы справа */
}

 .header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none; /* уберем оформление (подчеркивание) */
 }

 .header__link:hover,  .header__link:hover,  .header__link:active {
    /* при наведении, фокусе, нажатии на кнопку меняем стиль */
    opacity: .75;
 }

/* Header end */