/* Add fonts start */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Add fonts end */
/* Reset default style start */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    /* Отступы будут отсчитываться внутрь блока а не наружу, чтобы размеры блока совпадали */
}

*,
*::before,
*::after {
    /* Отступы будут наследоваться от родительского для всех элементов и псевдоэлементов */
    box-sizing: inherit;
}

img {
    max-width: 100%; /* Чтобы изображение не вылазило за границы */
    height: auto;
}

/* Reset default style end */

body {
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper { /* контейнер для центровки контента */
    max-width: 1060px;
    margin: 0 auto;
}

/* Header styles start */

.header {
    position: fixed; /* зафиксируем меню в верхней части страницы */
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap; /* перенос контента на сл. стр, если элементы не вмещаются на одной строке */
    align-items: flex-end; /* вертикальное выравнивание */
    justify-content: space-between; /* расположим контент по краям блока */
    padding-top: 56px; /* отступ сверху */
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; /* уберем маркеры у списка */
}

.header__item {
    margin-right: 82px; /* добавим отступы между элементами меню */
}

.header__item:last-child { /* возьмем последний дочерний элемент списка */
    margin-right: 0; /* уберем у него отступы справа */
}

 .header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none; /* уберем оформление (подчеркивание) */
 }

 .header__link:hover,  .header__link:focus,  .header__link:active {
    /* при наведении, фокусе, нажатии на кнопку меняем стиль */
    opacity: .75;
 }

/* Header styles end */

/* Intro styles start */
.intro {
    min-height: 100vh; /* высота равная 100% высоты экрана */
    background: url(../img/intro-bg.jpg) no-repeat center; /* не повторяется и по центру*/
    background-size: cover; /* будет заполнять весь блок при любых размерах */
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px; /* в css отступы между контейнерами принято задавать вниз */
}

.intro__subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__wrap {
    border: none;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px; /* Кругляшок будет прижат к левому краю, сдвинут вниз на 6 пикселей */
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px; /* отступ слева от текста ввода */
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-form__field::placeholder { /* Стилизуем отдельно placeholder подпись */
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-form__submit {
    padding: 15px 39px; /* внутренние отступы от текста */
    text-transform: uppercase; /* Текст большими буквами */
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    background: #1B7DFF;
    border: none;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: #115fc5;
}
/* Intro styles end */

/* Benefits styles start */
.benefits {
    margin-bottom: 131px;
}
.benefits__wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%); /* Сдвинем блок с заголовком вверх на всю свою высоту */
    background: #FFFFFF;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создадим гридом 3 равные колонки */
    grid-column-gap: 55px; /* Отступы между колонками */
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1; /* Укажем явно, что карточка будет занимать одну колонку */
    
}

.benefits__card-pic {
    min-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block; /* У svg всегда есть небольшой отступ снизу, уберем его */
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 26px;
}

.benefits__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px; /* Добавим отступ справа от ссылки для места под стрелку */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none; /* Уберем нижнее подчеркивание у ссылки */
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center; /* разместим стрелку справа от ссылки */
    transition: .2s all; /* Анимация при наведении мыши */
    margin-bottom: 112px;
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
/* Benefits styles end */
