/* Add fonts start */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Add fonts end */
/* Reset default style start */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    /* Отступы будут отсчитываться внутрь блока а не наружу, чтобы размеры блока совпадали */
}

*,
*::before,
*::after {
    /* Отступы будут наследоваться от родительского для всех элементов и псевдоэлементов */
    box-sizing: inherit;
}

img {
    max-width: 100%; /* Чтобы изображение не вылазило за границы */
    height: auto;
}

/* Reset default style end */

body {
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper { /* контейнер для центровки контента */
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full { /* Еще один контейнер для центровки контента */
    max-width: 1262px;
    margin: 0 auto;
}

.section-title { /* Общий стиль для повторяющихся заголовков*/
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative; /* Для работы с псевдоэлементом, ниж. подчерк. */
    padding-bottom: 7px;
}

.section-title::after {
    display: block;
    content: ''; /* Обязательное свойство, у нас пустое, иначе элемент не появится на странице */
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0; /* Полоса прижата к левому нижнему краю */
    left: 0;
}

/* Header styles start */

.header {
    position: fixed; /* зафиксируем меню в верхней части страницы */
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap; /* перенос контента на сл. стр, если элементы не вмещаются на одной строке */
    align-items: flex-end; /* вертикальное выравнивание */
    justify-content: space-between; /* расположим контент по краям блока */
    padding-top: 56px; /* отступ сверху */
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; /* уберем маркеры у списка */
}

.header__item {
    margin-right: 82px; /* добавим отступы между элементами меню */
}

.header__item:last-child { /* возьмем последний дочерний элемент списка */
    margin-right: 0; /* уберем у него отступы справа */
}

 .header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none; /* уберем оформление (подчеркивание) */
 }

 .header__link:hover,  .header__link:focus,  .header__link:active {
    /* при наведении, фокусе, нажатии на кнопку меняем стиль */
    opacity: .75;
 }

/* Header styles end */

/* Intro styles start */
.intro {
    min-height: 100vh; /* высота равная 100% высоты экрана */
    background: url(../img/intro-bg.jpg) no-repeat center; /* не повторяется и по центру*/
    background-size: cover; /* будет заполнять весь блок при любых размерах */
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px; /* в css отступы между контейнерами принято задавать вниз */
}

.intro__subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__wrap {
    border: none;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px; /* Кругляшок будет прижат к левому краю, сдвинут вниз на 6 пикселей */
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px; /* отступ слева от текста ввода */
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-form__field::placeholder { /* Стилизуем отдельно placeholder подпись */
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-form__submit {
    padding: 15px 39px; /* внутренние отступы от текста */
    text-transform: uppercase; /* Текст большими буквами */
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    background: #1B7DFF;
    border: none;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: #115fc5;
}
/* Intro styles end */

/* Benefits styles start */
.benefits {
    margin-bottom: 131px;
}
.benefits__wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%); /* Сдвинем блок с заголовком вверх на всю свою высоту */
    background: #FFFFFF;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создадим гридом 3 равные колонки */
    grid-column-gap: 55px; /* Отступы между колонками */
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1; /* Укажем явно, что карточка будет занимать одну колонку */
    
}

.benefits__card-pic {
    min-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block; /* У svg всегда есть небольшой отступ снизу, уберем его */
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 26px;
}

.benefits__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px; /* Добавим отступ справа от ссылки для места под стрелку */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none; /* Уберем нижнее подчеркивание у ссылки */
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center; /* разместим стрелку справа от ссылки */
    transition: .2s all; /* Анимация при наведении мыши */
    margin-bottom: 112px;
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
/* Benefits styles end */

/* Places styles start */

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__view-all {
    padding-right: 59px; /* Добавим отступ справа от ссылки для места под стрелку */
    font-weight: 400;
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.places__view-all:focus, .places__view-all:hover {
    opacity: .65;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Создадим 6 одинаковых карточек*/
    grid-gap: 10px; /* Отступы между карточками 10 px */
}


/* Overlay start (затемнение изображения)*/
.places__card {
    position: relative;
    overflow: hidden; /* при наведении на изображение, изображение будет обрезаться границами*/
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Overlay end (затемнение изображения)*/
.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    left: 29px;
    bottom: 27px;
    z-index: 3;
}

.places__card_size_lg {
    grid-column: span 3; /* Такой контейнер будет занимать 2 (6/3=2) колонки грида */
}

.places__card-pic {
    width: 100%;
    transition: .15s all; /* Изображение при наведении будет увеличиваться плавно */
}

.places__card-pic_size_lg {
    height: 354px;
    object-fit: cover; /* Изображения в контейнере будут сжиматься при изменении масштаба */
}

.places__card-pic_size_sm {
    height: 283px;
    object-fit: cover; /* Изображения в контейнере будут сжиматься при изменении масштаба */
}

/* Для изображений добавим ссылку, во весь размер, чтобы при клике можно было перейти на др. страницу */
.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.places__card_size_sm {
    grid-column: span 2;
}
/* Places styles end */

/* Tours styles start */
.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px; /* Отступ справа 108px */
    align-items: center; /* Расположим элементы по центру вертикально */
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.tour__desc {
    margin-bottom: 58px;
}

.tour__more {
    padding-right: 59px; /* Добавим отступ справа от ссылки для места под стрелку */
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    transition: .2s all;
}

.tour__more:focus, .tour__more:hover {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}


/* Tours styles end */

/* Top places styles start */
.top {
    margin-bottom: 86px;
}

.top__title {
    margin-bottom: 54px;
}

/* Здесь мы сделаем ориентацию для блока со всеми карточками по вертикали */
/* Чтобы в карточке с контентом, кнопка была прижата к низу контейнера */
.top__card { 
    display: flex;
    flex-direction: column; /* Ось в высоту */
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top__card-likes {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    margin-right: 14px;
    background: url('../img/svg/heart-ico.svg') no-repeat right;
}

.top__card-comments {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url('../img/svg/comment-ico.svg') no-repeat right;
}

.top__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}

.top__card-more {
    width: 118px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #006DFE;
    text-decoration: none;
    padding: 12px 19px;
    margin: auto 0 0 0; /* Сделает кнопку прижатой книзу */
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
    background: #115fc5;
}
/* Top places styles end */